# IntelliJ / Android Studio
*.iml
.gradle
.idea/
.navigation/
captures/
*.log

# Build folders
build/

# Local configuration and secrets
local.properties
secrets.properties
*.jks
*.keystore
google-services.json

# Native
.externalNativeBuild
.cxx
obj/

# OS Specific
.DS_Store
Thumbs.db
